%h2 All Jobs

- @job_groups.each do |group|
  %p
    %strong= group[:company].name
    %br
    - group[:jobs].each do |job|
      %job= job.title
      %dates= "#{job.start.strftime('%b/%Y')} to #{job.end.nil? ? "present":job.end.strftime('%b/%Y')}"
      %br
      -job.tasks.each do |task|
        %task= "- #{task.description}"
        %br
      - link_to "More about #{job.title}", job

= link_to 'Add a new job', new_job_path
